@charset "UTF-8";

.bigCover {display:none;}

.cover {float:left;
margin:0 1em 1em 1em;
}

.result {
	padding:.5em;
	clear:both;
	min-height:120px;
	width:50%;}

.selected{
	border-radius: 10px;
	padding:.5em;
	clear:both;
	width:50%;
	background-color:#20C2A1;
}	