@charset "UTF-8";

/* CSS Document */

body {
	background-image: url(bgmm.gif);
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
}

.wrapper {
	display: block;
	background: white;
	width: 620px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 1em;
}

.clear {
	clear: both;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: navy;
}

.bigCover {
	display: none;
}

.cover {
	float: left;
	margin: 0 1em 1em 1em;
}

.result {
	padding: .5em;
	clear: both;
	min-height: 120px;
	width: 50%;
}
