@charset "UTF-8";
/* CSS Document */

a:link {
	color:#F00;
}

a:visited {
	color:#F00;
}

#wrapper {
	margin: auto;
	width: 750px;
}

#sap {
	border-style:solid;
	border-width:3px;
	border-color:#daefbf;
}

#header {
	clear:right;
}

#content {
	clear:both;
}

blockquote {
	clear:both;
	padding:1em 0em 0em 3.5em;
	margin:1em 0em 1em 0em;
	background:url(/Users/bartbastings/Documents/school/P3/WPM21/opdrachten/opdracht1/quote_top_left.gif) top left no-repeat #daefbf;
	color:#4b7811;
	font-style:italic;
}

blockquote div {
	background:url(/Users/bartbastings/Documents/school/P3/WPM21/opdrachten/opdracht1/quote_bottom_right.gif) bottom right no-repeat #daefbf;
	padding:0 3.5em 1em 0;
}