@charset "UTF-8";
/* CSS Document */

/*algemeen*/

body{
	background-image:url(achtergrond.jpg);
	background-color:#d4effd;
	background-position:center top;
	background-size:cover;
	font-size:12px;
	font-family: "Baskerville Old Face";
}

h2{
	text-align:center;
	padding-bottom:15px;
	border-bottom:1px solid #F69679;
}

.wrapper{
	background-color:#FFF799;
	width:900px;
	padding:5px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	border:1px solid #F69679;
}

a{
	text-decoration: none;
	color:#000000;
}

header{
	width:900px;
	height:200px
}

.banner{
	width:900px;
	height:150px;
	background-image:url(bannerncreche.png);
}


.menu{
	float:left;
	padding:0px;
	margin-left:100px;
	margin-top:10px;
	list-style-type:none;
}

.menu li{
	margin:0px;
	float:left;
}

.menu li a{
	text-align:center;
	display:block;
	width:100px;
	margin-right:50px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
}

.current{
	background-color:#d4effd;
	border:1px solid #000;
}

.none{
	border:1px solid #F69679;
}

.none:hover{
	background-color:#FBC8B4;
}

.context{
	padding:5px;
	background-color:#FFFBCC;
	border:1px solid #F69679;
	border-radius:5px;
}

.tabel{
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
	border:1px solid #000;
	padding:5px;
	border-radius:5px;
	margin-bottom:10px;
}

/*home*/

.line{
	text-align:center;
}

.link{
	border:1px solid #F69679;
	margin-right:10px;
	padding:5px;
	border-radius:5px;
	
}

.link:hover{
	background-color:#FBC8B4;
}

/*foto*/

.fotoviewer{
	text-align:center;
	background-color:#d4effd;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:30px;
	margin-left:150px;
	width:600px;
	border: 1px solid #006;
	border-radius:5px;
}

.fotoviewer img{
	border: 1px solid #006;
	border-radius:5px;
}

.fotoviewer h4{
	font-weight:normal;
}

.fotoviewer h3{
	cursor: pointer;
	padding: 7px 15px;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:-13px;
	border-top: 1px solid #363632;

}

.fotoviewer h3:hover{
	color:#0066FF;
}

.foto{
	display: none;
	margin-top:30px;
}

/*gastouder*/

