@charset "utf-8";
/* CSS Document */

body {
	background: url(../images/background.png);
	}
	
a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: none;
	}
	
img {
	border: none;
	}
	
table {
	border: none;
	}
	
strong {
	font-family: "Lucida Handwriting", Arial;
	}
	
.wrapper {
	position: relative;
	width: 1260px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	}
	
.top_content {
	position: absolute;
	top: 10px;
	left: 155px;
	width: 940px;
	height: 154px;
	}
	
.header {
	position: relative;
	background: url(../images/header_bg2.png);
	width: 940px;
	height: 154px;
	}
	
.header_logo {
	position: absolute;
	left: 25px;
	top: 5px;	
	}
	
.header_menu {
	position: absolute;
	right: 225px;
	bottom: 5px;
	}
	
.table_menu td {
	padding-left: 10px;
	padding-right: 10px;
	}
	
.first {
	border-right: solid 4px #000000;
	font-family: "Eras Demi ITC", Arial;
	font-size: 20px;
	text-decoration: none;
	}
	
.menu_text {
	margin: 0 0 0 0;
	font-family: "Eras Demi ITC", Arial;
	color: #1f38b5;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	}
	
	
	
#searchbar_bar {
	position: absolute;
	right: 63px;
	bottom: 8px;
	background: none;
	}
	
#searchbar_img {
	position: absolute;
	right: 50px;
	bottom: 5px;
	}
	
#searchbox_input {
	border: none;
	}
	
.mid_content {
	position: absolute;
	top: 184px;
	left: 155px;
	width: 940px;
	height: 625px;
	}
	
.content {
	position: relative;
	background: url(../images/content_bg.png);
	width: 940px;
	height: 623px;
	}
	
.text {
	position: relative;
	margin-left: 25px;
	padding-top: 10px;
	padding-bottom: 85px;
	}
	
.text_head {
	color: #0c2292;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Lucida Handwriting", Arial;
	font-size: 28px;
	font-weight: bold;
	}
	
.text_block {
	position: absolute;
	background: url(../images/Content_txt_bg2.png);
	height: 177px;
	width: 785px;
	left: -20px;
	top: 37px;
	}
	
.text_block2 {
	position: absolute;
	background: url(../images/Content_txt_bg3.png);
	height: 177px;
	width: 785px;
	left: -20px;
	top: 185px;
	}
	
.text_block3 {
	position: absolute;
	background: url(../images/Content_txt_bg5.png);
	height: 177px;
	width: 785px;
	left: -20px;
	top: 338px;
	}
	
.text_block_full {
	position: absolute;
	background: url(../images/content_text_fullbg2.png);
	height: 460px;
	width: 783px;
	left: -20px;
	top: 38px;
	}
	
.p_block {
	position: relative;
	margin-left: 25px;
	padding-top: 23px;
	width: 725px;
	color: #e1e1e1;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family:  Arial;
	font-size: 18px;
	}
	
.p_block_bio {
	position: relative;
	margin-left: 25px;
	padding-top: 23px;
	width: 725px;
	color: #e1e1e1;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family:  Arial;
	font-size: 17px;
	}

.a_block {
	color: #e1e1e1;
	font-family: "Lucida Handwriting", Arial;
	font-size: 18px;
	text-decoration: underline;
	}
	
.itunes_bol {
	position: absolute;
	left: 10px;
	top: 550px;
	}
	
.itunes {
	float: left;
	padding-top: 5px;
	}
	
.bol {
	float: right;
	margin-left: 25px;
	}
	
.bot_content {
	position: absolute;
	bottom: 10px;
	left: 155px;
	width: 940px;
	height: 154px;
	}
	
.footer {
	position: relative;
	background: url(../images/footer_bg.png);
	width: 940px;
	height: 101px;
	}
	
.twitter {
	padding-top: 12px;
	float: left;
	}
	
.twitter_img {
	float: left;
	}
	
.twitter_widget {
	float: left;
	margin-left: 5px;
	}
	
	
.twtr-hd {
	display: none;
	} 
	
.twtr-ft { 
	display: none; 
	}
	
.twtr-tweet-text {
	font-size: 15px;
	font-weight: bold;
	margin-left: 0px;
	}
	
.hyves_facebook {
	float: left;
	margin-left: 50px;
	padding-top: 19px;
	}
	
.td_facebook {
	padding-left: 25px;
	padding-right: 25px;
	}
	
.td_youtube {
	padding-right: 5px;
	}
	
a:hover {
	color: #0c2292;
	text-decoration: underline;
	}
