@charset "UTF-8";

/* CSS Document */

body {
	background-image: url(bgmm.gif);
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
}

.wrapper {
	display: block;
	background: white;
	width: 620px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 1em;
}

.clear {
	clear: both;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: navy;
}

#columns-no-example {
	-webkit-column-count: 2;
	-webkit-column-rule: 1px solid #bbb;
	-webkit-column-gap: 2em;
	-moz-column-count: 2;
	-moz-column-rule: 1px solid #bbb;
	-moz-column-gap: 2em;
	column-count: 2;
	column-rule: 1px solid #bbb;
	column-gap: 2em;
}

#columns-no-example p {
	font-size: 15px;
}

#shadow-example {
	font-size: 30px;
	text-align: center;
	text-shadow: #000 5px 5px 2px;
}
