/* netbook: 1024/960=1.067 */
/* x1.07  */

/* effect */

/* main */

/* index */

/* lunch */

/* lekkers */

.b-counter{
	padding:0 !important;
	height:25px !important;
	width:25px !important;
	line-height: 25px;
}

/* high tea */

/* groepen */

/* vrijdagavond */

/* vacatures */

/* footers */