/* tablet: 960/768=0.825 */
/* x0.825 */

html{
	background-image:none;
	font-size:11px;
}

.wrapper {
	height:calc(100% - 50px);
	padding:50px 0 0 0;
}

.contentHeader{
	height:65px;
}

.contentHeader h2{
	font-size:2.571em;
	margin-left:25px;
	line-height:65px;
}

.button{
	width:200px;
	line-height:50px;
}

.clearFix{
	height:50px;
}

/* effecten */

.boxshadow{
	-webkit-box-shadow: 0 4px 4px 0 #000000;
	-moz-box-shadow: 0 4px 4px 0 #000000;
	-ms-box-shadow: 0 4px 4px 0 #000000;
	-o-box-shadow: 0 4px 4px 0 #000000;
	box-shadow: 0 4px 4px 0 #000000;
}

.emptyContent{
	width:100%;
	margin:12.5px 0 0 0;
	padding:10px;
	width: calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: -ms-calc(100% - 20px);
	width: -o-calc(100% - 20px);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none ;
	-o-box-shadow: none;
	box-shadow: none;
}

.emptyContent h2{
	font-size:1.714em;
}

/* page header */

.pageHeader{
	width:100%;
	height:50px;
	-webkit-box-shadow: 0 2px 2px 0 #000000;
	-moz-box-shadow: 0 2px 2px 0 #000000;
	-ms-box-shadow: 0 2px 2px 0 #000000;
	-o-box-shadow: 0 2px 2px 0 #000000;
	box-shadow: 0 2px 2px 0 #000000;
}

.pageHeader ul li{
	width:10.416666666666668%;
}

#navCenterLink{
	height:50px;
	width:16.666666666666664%;
}

#navCenterLink img{
	position:absolute;
	top: 10%;
	left: 18.75%;
	width:62.5%;
	max-width:100px;
	height:auto;
}

.pageHeader ul li a{
	font-size:1em;
	line-height:50px;
}

/* main */

main{
	width:100%;
	margin:0;
	min-height:200px;
}

/* index */

#indexContent{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none ;
	-o-box-shadow: none;
	box-shadow: none;
}

.imageViewer .imageViewerContainer img{
	min-height:100px;
}

.imageInfo{
	height:40px;
	padding:0 10px;
}

.imageInfo h3{
	line-height:40px;
}

.indexInfoContainer{
	width:90%;
	margin:0 5%;
}

.indexInfoContainer article{
	width:100%;
	margin:0 0 12.5px 0;
}

.indexInfoContainer article:before{
	content:'';
	display: block;
	padding-top:0;
}

#articleBox{
	width:60%;
}

.articleContent{
	padding:12.5px;
	position: relative;
}

#infoZuss{
}

#infoZuss header{
	margin-bottom:5px;
}

#infoZuss h1{
	font-size:1.6em;
}

#infoZuss p{
	font-size:1.2em;
}

#cadeauTip{
	float:right;
}

#cadeauTip header{
	margin-bottom:5px;
}

#cadeauTip h2{
	font-size:1.6em;
}

#menukaartContainer{
	width:40%;
	float:left;
	margin:0;
	padding:0;
	text-align:center;
}

#menukaartContainer img{
	width:auto;
	max-height:550px;
}

/* lunch */

#lunchContent{
	
}

/* lekkers */

#lekkersContent{
	margin-top:25px;
	border-top:1px solid #bfbfbf;
}

/* hightea */

#highteaContent{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none ;
	-o-box-shadow: none;
	box-shadow: none;
}

/* meeneem */

#meeneemContent{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none ;
	-o-box-shadow: none;
	box-shadow: none;
}

/* groepen */

/* vrijdagavond */

/* vacature */

#vacaturesContent{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none ;
	-o-box-shadow: none;
	box-shadow: none;
}

#vacaturesContact a{
	margin-left:calc(50% - 100px);
	margin-right:calc(50% - 100px);
	margin-bottom:14px;
	width:200px !important;
	line-height:50px;
	text-align:center;
	background-color:#bfbfbf;
}

#vacaturesContact a:hover{
	color:#000000 !important;
	background-color:#f8c811;
}

#vacaturesContact a:focus{
	color:#000000 !important;
	background-color:#f8c811;
}

/* contact */

#contactContent{
	height:auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none ;
	-o-box-shadow: none;
	box-shadow: none;
}

#contactContent .leftContent{
	width:100%;
}

#contactContent .rightContent{
	width:100%;
}

#map{
	width:100%;
	height:200px;
}

#contactContent .contentHeader h2{
	margin:0;
	width:100%;
	text-align:center;
}

#contactTijden h3{
	text-align:center;
	font-size:1.2em;
}

#contactTijden li{
	font-size:1em;
	text-align:center;
}

#contactGegevens{
	margin: 10px 25px 0 25px;
	width: calc(100% - 50px);
}

#contactGegevens h2{
	font-size:1.1em;
}

#contactGegevens p{
	font-size:1em;
	text-align:center;
}

#contactGegevens p a{
	margin-left:calc(50% - 100px);
	margin-right:calc(50% - 100px);
	margin-top:14px;
	font-size:1em;
	width:200px !important;
	line-height:50px;
	text-align:center;
	background-color:#bfbfbf;
}

#contactGegevens p a:hover{
	color:#000000 !important;
	background-color:#f8c811;
}

#contactGegevens p a:focus{
	color:#000000 !important;
	background-color:#f8c811;
}

/* footer */

footer a{
	margin:0;
	height:50px;
}

footer a:hover{
	color:#000000;
	background-color:#f8c811;
}

footer p{
	margin:0 5px;
	line-height:50px;
}

footer img{
	margin:5px;
}